---
import Layout from '../layouts/Layout.astro';
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Concerts</title>
</head>
<body>
    <Layout>
        <h1>Upcoming Concerts</h1>
        <ul>
            <li>01/10/2024 - City Hall, New York</li>
            <li>05/11/2024 - Wembley Stadium, London</li>
            <li>20/12/2024 - Accor Arena, Paris</li>
            <!-- Přidejte další koncerty -->
        </ul>
    </Layout>
</body>
</html>
